.btn-default,
.label-default,
.progress-bar-default,
.panel-default .panel-heading {
	background: $default;
}

.btn-primary,
.label-primary,
.progress-bar,
.panel-primary .panel-heading {
	background: $primary;
}

.btn-success,
.label-success,
.progress-bar-success,
.panel-success .panel-heading {
	background: $success;
}

.btn-info,
.label-info,
.progress-bar-info,
.panel-info .panel-heading {
	background: $info;
}

.btn-warning,
.label-warning,
.progress-bar-warning,
.panel-warning .panel-heading {
	background: $warning;
}

.btn-danger,
.label-danger,
.progress-bar-danger,
.panel-danger .panel-heading {
	background: $danger;
}

.btn {
	border: none;
	border-bottom: 3px solid rgba(0,0,0,0.1);
	padding-bottom: 6px;

	&:active {
		position: relative;
		top: 1px;
	}

	&:focus {
		outline: none;
	}
}

.btn-lg,
.btn-group-lg > .btn {
	border-bottom: 4px solid rgba(0,0,0,0.1);
	padding-bottom: 7px;

	&:active {
		border-bottom-width: 3px;
	}
}

.btn-sm,
.btn-group-sm > .btn {
	border-bottom: 3px solid rgba(0,0,0,0.1);
	padding-bottom: 2px;

	&:active {
		border-bottom-width: 2px;
	}
}

.btn-xs,
.btn-group-xs > .btn {
	border-bottom: 2px solid rgba(0,0,0,0.1);
	padding-bottom: 0px;

	&:active {
		border-bottom-width: 1px;
	}
}

.btn,
.btn-lg,
.btn-sm,
.btn-xs {
	border-radius: 0;
}