.btn-default {
	background: $default;
}

.btn-primary {
	background: $primary;
}

.btn-success {
	background: $success;
}

.btn-info {
	background: $info;
}

.btn-warning {
	background: $warning;
}

.btn-danger {
	background: $danger;
}

.btn {
	border: none;
}

