$default: #F2F2F2;
$primary: #09BED6;
$success: #81E027;
$info: #7BEBDF;
$warning: #FFCF3F;
$danger: #DE414C;

$default-alt: darken($default, 14%);
$primary-alt: darken($primary, 14%);
$success-alt: darken($success, 14%);
$info-alt: darken($info, 14%);
$warning-alt: darken($warning, 14%);
$danger-alt: darken($danger, 14%);