.form-control {
	border-radius: 0;
	border: none;
	box-shadow: none;
	border-bottom: 3px solid #eee;
	background: #f9f9f9;
	font-weight: normal;
}

.has-success .form-control:focus,
.has-error .form-control:focus,
.has-warning .form-control:focus,
.has-warning .form-control,
.form-control:focus {
	outline: none;
	outline-style: none;
	box-shadow: none;
	border-color: $warning;
}

.form-control:focus {
	border-color: $info;
}

.has-success .form-control,
.has-success .form-control:focus {
	border-color: $success;
}

.has-error .form-control,
.has-error .form-control:focus {
	border-color: $danger;
}

.input-group .form-control {
	border-bottom: 3px solid #eee;
	height: 35px;
}

.input-group-addon {
	border-radius: 0;
	border: none;
	border-bottom: 3px solid rgba(0,0,0,0.1);
}

input[type="checkbox"] {
	opacity: 0;
	user-select: none;

	& + label {
		user-select: none;
	}

	& + label::before {
		content: '';
		width: 30px;
		height: 30px;
		background: #f9f9f9;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		border-bottom: 3px solid rgba(0,0,0,0.1);
		font-family: 'Glyphicons Halflings';
		padding-top: 14px;
		font-size: 1px;
		transition: 0.1s all;
	}

	&:checked + label::before {
		content: "\e013";
		color: $success;
		font-size: 19px;
		padding-top: 0;
	}
}