.panel {
	box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
	border: none;
	transition: 1s all;

	&.ng-enter {
		transform: translateX(-100vw);
	}

	&.ng-move {
		transform: translateY(100vw);
	}

}

.panel-heading,
.panel {
	border-radius: 0;
}

.panel-padded {
	padding: 48px 60px;
}

.panel-primary {
	border-color: $primary;
}

.panel-success {
	border-color: $success;
}

.panel-info {
	border-color: $info;
}

.panel-warning {
	border-color: $warning;
}

.panel-danger {
	border-color: $danger;
}

.panel-default .panel-heading {
	background: $default;
	color: darken($default, 33%);
}

.panel-primary .panel-heading {
	background: $primary;
	color: darken($primary, 33%);
}

.panel-success .panel-heading {
	background: $success;
	color: darken($success, 33%);
}

.panel-info .panel-heading {
	background: $info;
	color: darken($info, 33%);
}

.panel-warning .panel-heading {
	background: $warning;
	color: darken($warning, 33%);
}

.panel-danger .panel-heading {
	background: $danger;
	color: darken($danger, 33%);
}