h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
	color: $primary-alt;
}

// Browser specific hack
[user-agent*="Windows NT"] {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 500;
	}
}

p {
	margin: 0 0 20px;
}

@media screen and (max-width: $screen-sm-max) {

	h1 {
		font-size: 22px;
		margin-top: 10px;
	}

	.panel-body {
		font-size: 16px;
	}
}