<div class="container">
	<div class="navbar-header">
		<a class="navbar-brand" href="#" ng-click="go('/')">
			{{ site.info.name }}
		</a>
	</div>
	<ul class="nav navbar-nav" ng-controller="StathamPrimaryNavCtrl"></ul>
	<form class="navbar-form navbar-right" role="search" ng-controller="StathamSearchCtrl" ng-submit="go('/search/' + searchQuery)">
		<div class="input-group">
			<input type="text" class="form-control" ng-model="searchQuery" placeholder="Search">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
			</span>
		</div>
	</form>
</div>