<ul class="pagination">

    <li ng-if="currentPage > 0">
		<a href="#" ng-click="go('/page/' + currentPage); scrollToTop()" aria-label="Previous">
			<span aria-hidden="true">&laquo;</span>
		</a>
    </li>

	<li ng-repeat="i in numberOfPages() track by $index" ng-class="{active: $index == currentPage}">
		<a ng-if="$index != 0" href="#" ng-click="go( '/page/' + ($index + 1) ); scrollToTop()">{{ $index + 1 }}</a>
		<a ng-if="$index == 0" href="#" ng-click="go('/'); scrollToTop()">1</a>
	</li>

    <li ng-if="currentPage + 1 < numberOfPages().length">
		<a href="#" ng-click="go('/page/' + (currentPage + 2) ); scrollToTop()" aria-label="Next">
			<span aria-hidden="true">&raquo;</span>
		</a>
    </li>

</ul>