<section ng-repeat="post in posts" class="panel panel-default panel-padded">
	<div class="panel-body">
		<h1>{{ post.title }}</h1>
		<article lazy-load ng-bind-html="post.content | rawHtml"></article>
	</div>

	<aside>
		<div ng-repeat="comment in comments" class="comment">
			<div class="comment-author">
				<img src="{{comment.author.avatar}}" />
				<a href="{{comment.author.URL}}">{{comment.author.name}}</a>
			</div>
			<div class="comment-content" ng-bind-html="comment.content | rawHtml">
		</div>
	</aside>

</section>