<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Statham</title>

		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css">

		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-route/angular-route.min.js"></script>
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/jquery-unveil/jquery.unveil.min.js"></script>

		<script src="js/controllers.js"></script>
		<script src="js/services.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/routing.js"></script>
		<script src="js/directives.js"></script>

		<base href="/">
	</head>
	<body ng-app="statham" ng-controller="StathamMainCtrl">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#" ng-click="go('/')">
						{{ site.info.name }}
					</a>
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<main ng-cloak ng-view class="col-md-10 col-md-offset-1"></main>
		</div>
		
		<header>

			<nav>
				<li ng-repeat="menu in menus"></li>
			</nav>
		</header>

	</body>
</html>